<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Expense</title></head>
    <link rel="stylesheet" th:href="@{/css/expense-form.css}">

<body>
<h1 th:text="${expense.id} == null ? 'Add New Expense' : 'Update Expense'"></h1>
<form th:action="@{/expenses}" th:object="${expense}" method="post">

    <input type="hidden" th:if="${expense.id}" th:field="*{id}" />

    <label for="name">Expense name:</label>
    <input type="text" th:field="*{name}" required/><br><br>

    <label for="description">Description:</label>
    <textarea th:field="*{description}" required></textarea><br><br>

    <label for="amount">Amount:</label>
    <input type="number" step="0.01" th:field="*{amount}" required/><br><br>

    <label for="date">Date:</label>
    <input type="date" th:field="*{date}" required/><br><br><br>

    <button type="submit" th:text="${expense.id} == null ? 'Add Expense' : 'Update Expense'"></button><br><br>
</form>
<a th:href="@{/expenses}">Back to Welcome Page</a> | <a th:href="@{/logout}">Logout</a>
</body>
</html>
